block menu
  header(class="navbar header-menu", id="myMenu")
    section(class="navbar-section")
      a(href="/", class="btn btn-link") Home
      div(class="dropdown")
        a(href="#", class="btn btn-link dropdown-toggle", tabindex="0") Registration 
          i(class="icon icon-caret")                
        ul(class="menu")
          li.menu-item
            a(href="/genres") Genres
          li.menu-item
            a(href="/publishers") Publishers
          li.menu-item
            a(href="/themes") Themes
      a(href="/books", class="btn btn-link") Books
      a(href="/authors", class="btn btn-link") Authors
    section(class="navbar-center")          
    section(class="navbar-section")
      a(href="https://twitter.com/@caraiobevilaqua", class="btn btn-link") MyTwitter
      a(href="https://github.com/BevilaquaBruno", class="btn btn-link") MyGitHub   
