extends layout
      
block content
  p= title
  a(class="pure-button", href="/books/create") Create a book
  #message
  if message.show
    h2= message.msg
  else
    
    table(class="pure-table")
      thead
        tr
          td(style="display: none") id
          td name          
      tbody    
      each book in data
        tr
          td(style="display: none")= book.id
          td= book.doc.name
