doctype html
html
  head
    title= title
    meta(charset='utf-8')
    block scripts-head-js
      script(type='text/javascript', src='/javascripts/utils.js')
    block links-css
      link(rel='stylesheet', href='/stylesheets/menu.css')   
      link(rel='stylesheet', href='/stylesheets/core.css')   
      link(rel='stylesheet', href='/pure/pure-min.css')
      //- ie 8 shit grid
      <!--[if lte IE 8]>
          link(rel='stylesheet', href='/pure/grids-responsive-old-ie-min.css')
      <![endif]-->
      <!--[if gt IE 8]><!-->
          link(rel='stylesheet', href='/pure/grids-responsive-min.css')
      <!--<![endif]-->      
                        
  body  
    include includes/menu.pug  
    
    block content
      
    block scripts-js
      script(type='text/javascript', src='/javascripts/layout.js')      
      
