@import 'partials/utils';

body{
  font-family: $font-family;
  color: $text-color;
}

.card-header-table-gray {
  background-color: gray("200");
}

.btn-rounded{
  border-radius: 10px;
}

.header-menu{
  background-color: gray("100");
}

.table-scroll{
  overflow-x:auto;
}
