extends ../layout

include ../includes/_mixins.pug

block content
  +chipPage({href: '/themes', name: 'Themes'}, {href: '/themes/create', name: 'Create a Theme'})
  .colums
    .card
      .card-header
        h3=title
      .card-body
        form(id="formCreateTheme")
          .columns
            .column.col-6.col-xl-6.col-lg-12.col-md-12.col-xs-12.col-sm-12
              .col-12.col-xs-12.col-sm-12
                label.form-label(for="theme_description")
              .col-12.col-xs-12.col-sm-12
                input(class="form-input",type="text",id="theme_description", name="theme_description", placeholder="Technology")
      .card-footer
        .columns
          .column.col-3.col-lg-6.col-xs-12.col-sm-12
            .col-12.col-xs-12.col-sm-12
              button(type="submit" class="btn btn-rounded btn-success col-12", id="submitThemeCreate") Create
          .column.col-3.col-lg-6.col-xs-12.col-sm-12
            .col-12.col-xs-12.col-sm-12
            a(class="btn btn-rounded btn-default col-12", href="/themes") Cancel

block append scripts-js
  script(type='text/javascript', src='/javascripts/themesCreate.js')
