extends ../layout

include ../includes/_mixins.pug

block content  
  +chipPage({href: '/authors', name: 'Authors'}, {href: '/authors/create', name: 'Create a Author'})
  .colums    
    .card
      .card-header
        h3=title
      .card-body        
        form(id="formCreateAuthor")
          .columns
            .column.col-4.col-xs-12
              .col-12.col-xs-12
                label.form-label(for="author_name") Name                  
              .col-12.col-xs-12
                input(class="form-input",type="text",id="author_name", name="author_name", placeholder="Shakespeare")
              .col-12.col-xs-12
                label.form-label(for="author_fullname") Full Name
              .col-12.col-xs-12
                input(type="text", name="author_fullname", class="form-input", placeholder="William Shakespeare")
                  
            .column.col-4.col-xs-12
              .col-12.col-xs-12
                label.form-label Birth Date
              .col-12.col-xs-12
                input(type="date", name="author_birthdate", class="form-input")
              .col-12.col-xs-12
                label.form-label Death Date
                  span.chip *if your author is alive, forget this field.
                
              .col-12.col-xs-12
                input(type="Date", name="author_deathdate", class="form-input")               
            
            .column.col-6.col-xs-12
              .col-12.col-xs-12
                label.form-label(for="author_birth_place") Birth Place 
              .col-12.col-xs-12
                input(type="text", name="author_birth_place", class="form-input", placeholder="Stratford-upon-Avon, England")
                  
            .column.col-7.col-xs-12
              .col-12.col-xs-12
                label.fom-label(for="author_nationality") Nationality
              .col-12.col-xs-12
                input(type="text", name="author_nationality", placeholder="Ex: English", class="form-input")                   
              .col-12.col-xs-12
                label.form-label(for="author_mainlanguage") Main Language
              .col-12.col-xs-12
                input(type="text", name="author_mainlanguage",class="form-input" ,placeholder="English")
      .card-footer
        .columns
          .column.col-3.col-xs-12
            .col-12.col-xs-12
              button(type="submit" class="btn btn-rounded btn-success col-12", id="submitAuthorCreate") Create
            .col-6.col-xs-12        
          .column.col-3.col-xs-12
            .col-12.col-xs-12
            a(class="btn btn-rounded btn-default col-12", href="/authors") Cancel

block append scripts-js
  script(type='text/javascript', src='/javascripts/authorsCreate.js')
